input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea
{
	font-family: "TTNorms-Regular",sans-serif;
	background: transparent;
	border: 1px solid transparent;
	border-bottom: 1px solid #fff;
	height: 60px;
	font-size: 18px;
	position: relative;
	transition: .1s all;
	padding: 0 18px;
	margin-bottom: 25px;
	color: #fff;
	width: 100%;
	&:focus, &:active{
		outline: none;
		transition: .3s all;
		border: 1px solid #ffffff;
	}
	&.error{
		border-color: red;
	}
}
textarea{
	padding-top: 15px;
	padding-bottom: 15px;
	height: 90px;
}

input[type=submit],
button[type=submit],
{
	-webkit-appearance: none !important;
	appearance: none;
	border: none;
	border-radius: 0;
	height: 60px;
	width: 100%;
	background: $yellow;
	color: #000;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "TTFirsNeue-DemiBold", sans-serif;
	font-size: 16px;
}

select{
	cursor: pointer;
	height: 60px;
	width: 100%;
	font-size: 18px;
	-webkit-appearance: none !important;
	appearance: none;
	border-radius: 0;
	padding: 0 18px;
	background: url("../img/ico-arrow-down-black.svg") #fff right 23px no-repeat;
	background-size: 14px 14px;
	background-position-x: calc(100% - 20px);
	&:focus, &:active{
		outline: none;
		transition: .3s all;
		border: 1px solid #ffffff;
	}
	&.error{
		border-color: red;
	}
}

.form-horizontal{
	select{
		width: calc(100% - 23px);
	}
}

.megamap .form.only-fields{
	background: transparent;

}
.megamap .form.only-fields .row:last-child{
	padding-bottom: 0;
}

.only-fields{
	padding-top: 20px;
	.only-fields-hidden{
		display: none;
	}
	.fh_r{
		display: none;
	}
}

.mini-filter{
	width: 300px;
	select{
		border: 1px solid #E6E6E6;
		height: 40px;
		font-size: 14px;
		background-position-y: 12px;
	}
}

.fh_l{

}
.fh_c{
	select{
		width: 100%;
	}
}
.fh_r{
	button{
		width: calc(100% - 23px);
		margin-left: 23px;
	}
}

input[type=number] {
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: textfield;
	background: transparent;
	border: 1px solid transparent;
	border-bottom: 1px solid #fff;
	font-size: 18px;
	position: relative;
	transition: .1s all;
	padding: 0 18px;
	width: 100%;
	&:focus, &:active{
		-webkit-appearance: none;
		appearance: none;
		-moz-appearance: textfield;
		outline: none;
		transition: .3s all;
	}
	&.error{
		border-color: red;
	}
}

input[type=number],
input[type=number]:focus,
input[type=number]:hover
{

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


.form.bg-dark{
	.head3{
		margin-bottom: 20px;
	}
	select{
		background: url("../img/ico-arrow-down-black.svg") transparent right 23px no-repeat;
		border: 1px solid transparent;
		border-bottom: 1px solid #fff;
		height: 60px;
		font-size: 18px;
		position: relative;
		transition: .1s all;
		padding: 0 18px;
		margin-bottom: 25px;
		color: #fff;
		width: 100%;
		&:focus{
			outline: none;
			transition: .3s all;
			border: 1px solid #ffffff;
		}
	}
}

.dark-form{
	select{
		background: url("../img/ico-arrow-down-black.svg") transparent right 23px no-repeat;
		border: 1px solid transparent;
		border-bottom: 1px solid #fff;
		height: 60px;
		font-size: 18px;
		position: relative;
		transition: .1s all;
		padding: 0 18px;
		margin-bottom: 25px;
		color: #fff;
		width: 100%;
		&:focus{
			outline: none;
			transition: .3s all;
			border: 1px solid #ffffff;
		}
	}
}
.form.bg-dark{
	.btn-classic{
		width: 100%;
	}
}
.form{
	.disclaimer{
		margin-top: 15px;
		font-size: 14px;
		color: rgba(#fff, .5);
		a{
			color: inherit;
			border-bottom: 1px solid rgba(#fff, .3);
		}
	}
}

.disclaimer.black-bg{
	margin-top: 15px;
	font-size: 14px;
	color: rgba(#fff, .5);
	a{
		color: inherit;
		border-bottom: 1px solid rgba(#fff, .3);
	}
}

.fcol1{
	padding-right: 23px;
}

.fcol2{
	padding-left: 23px;
	padding-right: 23px;
}

.fcol3{
	padding-left: 23px;
}

@keyframes bounce {
	0%{
		transform: scale(1.1);
		transition: .2s all;
	}
	100%{
		transform: scale(1);
		transition: .2s all;
	}
}
.fileReceiver{
	height: 90px;
	border: 1px dashed #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	flex-direction: column;
}

.file-preview{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	cursor: pointer;
	&:before{
		opacity: 0;
		transition: .2s opacity;
	}
	&:hover{
		&:before{
			opacity: 1;
			transition: .2s opacity;
			content: '';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: url("../img/cross.svg") center center rgba(0,0,0,.5) no-repeat;
		}
	}
}
@media (min-width: 1024px) and (max-width: 1399px){
	input[type=text], input[type=email], input[type=tel], input[type=password], textarea{
		height: 50px;
		font-size: 16px;
	}
	textarea{
		height: 90px;
	}
	select{
		height: 50px;
		font-size: 16px;
	}
}


@media (min-width: 1400px) and (max-width: 1660px) {
	input[type=text], input[type=email], input[type=tel], input[type=password]  {
		height: 50px;
		font-size: 15px;
		margin-bottom: 20px;
	}
	textarea{
		height: 80px;
		font-size: 15px;
		margin-bottom: 20px;
	}
	.dark-form select{
		height: 50px;
		font-size: 15px;
		margin-bottom: 20px;
	}
	select{
		height: 50px;
		font-size: 15px;
	}
	.form.bg-dark select{
		font-size: 15px;
		height: 50px;
	}
	.fileReceiver{
		height: 80px;
	}
	.form .disclaimer{
		margin-top: 9px;
		font-size: 12px;
	}

}

@media (max-width: 1023px) {
	select{
		font-size: 16px;
	}
}

