.notifier {
  background: #000;
  color: #fff;
  font-size: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 3px 5px;
  position: absolute;
  right: -7px;
  bottom: -3px;
}

.alert {
  position: fixed;
  box-sizing: border-box;
  width: 320px;
  right: 0;
  top: 0;
  color: #fff;
  padding: 20px 45px 20px 30px;
  z-index: 999999;
  border-radius: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  min-height: 140px;

  &.default {
    background: #c4c4c4;
    color: #000;

    a {
      color: #000;
    }
  }

  &.success {
    background: $green;
  }

  &.error {
    background: $red;
  }

  a {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
  }

  & > div {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    //background: url("../img/cross2.svg") center center no-repeat;
    background-size: 14px 14px;
  }
}

.wpcf7-response-output {
  display: none !important;
}

.d_n {
  display: none;
}

.d_f {
  display: flex;
}

.fd_c {
  flex-direction: column;
}

.jc_sb {
  justify-content: space-between;
}

.ai_c {
  align-items: center;
}

.ai_start {
  align-items: flex-start;
}

.ai_end {
  align-items: flex-end;
}

.jc_c {
  justify-content: center;
}

.jc_start {
  justify-content: flex-start;
}

.jc_end {
  justify-content: flex-end;
}

.ta_c {
  text-align: center;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.h100vh {
  height: 100vh;
}

.pos_f {
  position: fixed;
}

.pos_r {
  position: relative;
}

.mt-auto {
  margin-top: auto;
}

.mb200 {
  margin-bottom: 200px;
}

.mt70 {
  margin-top: 70px;
}

.pl60 {
  padding-left: 60px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.zi-2 {
  z-index: 2;
}

.br {
  border-right: 1px solid rgba(#e6e6e6,.5);
}

.bl {
  border-left: 1px solid rgba(#e6e6e6,.5);
}

.bt {
  border-top: 1px solid rgba(#e6e6e6,.5);
}

.bb {
  border-bottom: 1px solid rgba(#e6e6e6,.5);
}

.br-light {
  border-right: 1px solid rgba(#fff, .10);
}

.bl-light {
  border-left: 1px solid rgba(#fff, .10);
}

.bt-light {
  border-top: 1px solid rgba(#fff, .10);
}

.bb-light {
  border-bottom: 1px solid rgba(#fff, .10);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 16px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  opacity: 1;
  margin: 0 10px;
}

.swiper-pagination-bullet {
  background: transparent;
}

.swiper-pagination-bullet-active {
  background: #fff;
}




.middle-border-8 {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 1.5px;
    height: 100%;
    left: calc(50% - 0.5px);
    top: 0;
    background: #e6e6e6;
    z-index: -1;
  }
}

.middle-border-12 {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    left: calc(100% / 12 * 4);
    top: 0;
    border-right: 1px solid rgba(#e6e6e6,.5);
    z-index: -1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    left: calc(100% / 12 * 8 - 2.5px);
    top: 0;
    border-right: 1px solid rgba(#e6e6e6,.5);
    z-index: -1;
  }

  &.light {
    &:after, &:before {
      border-color: rgba(#fff, .15)
    }
  }
}

.middle-border-12-light {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    //left: calc(33.333% - 2.5px);
    left: calc(100% / 12 * 4);
    top: 0;
    border-right: 1px solid rgba(#fff, .10);
    z-index: -1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    //left: calc(66.666% - 1.5px);
    left: calc(100% / 12 * 8 - 2.5px);
    top: 0;
    border-right: 1px solid rgba(#fff, .10);
    z-index: -1;
  }
}

.middle-border-12-over-bg {
  &:before, &:after {
    z-index: 1;
  }

  & > div {
    position: relative;
    z-index: 2;
  }
}

.absolute-row {
  position: absolute !important;
  pointer-events: none;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}




.absolute {
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  width: 250px;
  height: 250px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  background: transparent;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active
{
  background: #fff;
}
:root {
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 18px !important;
}

@media (max-width: 1023px) {
  :root {
    --swiper-pagination-bullet-horizontal-gap: 5px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 10px !important;
  }
  .middle-border-12-light{
    &:after, &:before{
      display: none;
    }
  }
}