.lytebox{
  transition: .2s all;
  opacity: 1;
  transform: translateY(0%);
  z-index: 999;
  pointer-events: auto;
  position: fixed;
  left: -50px;
  top: -50px;
  right: -50px;
  bottom: -50px;
  padding: 50px;
  background-color: rgba(#000,0.7);
  cursor: pointer;
}
.lytebox-opened{
  transition: .2s all;
  opacity: 1;
  transform: translateY(0%);
}
.lytebox-close{
  position: absolute;
  right: 25px;
  top: 25px;
  width: 22px;
  height: 22px;
  background: url("../img/close.svg") 0 0 no-repeat;
  background-size: contain;
  z-index: 22;
  &.black{
    background: url("../img/close-dark.svg") 0 0 no-repeat;
    background-size: contain;
  }
}
.lytebox-imgWrapper{
  img{
    max-width: 100%;
    height: auto;
  }
}
.lytebox-caption{
  padding: 10px;
  background: #000;
  color: #FFFFFF;
  a{
    color: #FFFFFF;
    text-decoration: underline;
  }
}
.lytebox-inner{
  padding: 25px;
  max-width: 500px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: default;
  background-color: rgba(#000, .3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #fff;
  &.nopadding{
    padding: 0;
  }
  &.image{

  }
}

.lytebox-form{
  padding: 25px;
  width: 100%;
  max-width: 500px;
}


@media (max-width: 1023px) {
  .lytebox-inner{
    left: 0;
    transform: translateX(0) translateY(-50%);
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }
}

.fade-appear {
  opacity: 0.01;
  transform: scale(.9);
  transition: .2s all;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: .3s all;
}