.lytebox{
  transition: .2s all;
  opacity: 1;
  transform: translateY(0%);
  z-index: 999;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000,0.4);
  cursor: pointer;
}
.lytebox-opened{
  transition: .2s all;
  opacity: 1;
  transform: translateY(0%);
}
.lytebox-close{
  position: absolute;
  right: 25px;
  top: 15px;
  width: 32px;
  height: 32px;
}
.lytebox-inner{
  padding: 25px;
  max-width: 500px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  //background-color: $base-color;
  cursor: default;
}

.lytebox-form{
  padding: 25px;
  width: 100%;
  max-width: 500px;
}