.btn-send{
  transition: .3s all;
  position: relative;
  img{
    position: absolute;
    opacity: 0;
    right: 0;
  }
}

.form__wrapper{
  &.loading{
    input{
      pointer-events:none;
    }
    .btn-send{
      transition: .3s all;
      padding-right: 35px;
      background-color: #232323;
      img{
        opacity: 1;
        right: 5px;
      }
    }
  }
}

.form__btn_w{
  button{
    width: 47%;
  }
}

.form__header{
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

input[type=text]{
  width: 100%;
  height: 46px;
  font-size: 14px;
  background: #fff;
  margin-bottom: 15px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 5px 10px;
  &.error{
    background: rgb(236, 64, 41);
    color: #ffffff;
  }
}

textarea{
  width: 100%;
  height: 146px;
  font-size: 14px;
  background: #fff;
  margin-bottom: 15px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding:10px;
  &.error{
    background: rgb(236, 64, 41);
    color: #ffffff;
  }
}

@media (max-width: 859px) {
  .form__btn_w button {
    width: 100%;
    margin-bottom: 10px;
  }
}