.promoblack{
  background: black;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 90px;
}

.promoblack__vagons{
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 1587px;
    height: 245px;
    position: absolute;
    right: 0;
    bottom: -70px;
    background: url("../img/vagons.png") 0 0 no-repeat;
    background-size: 1587px 245px;
    z-index: 1;
  }
}

.promoblack__title{
  color: #fff;
  margin-right: -100px;
  span{
    display: block;
  }
  .desc{
    font-size: 26px;
    margin-top: 30px;
    font-weight: 300;
    b{
      font-weight: 500;
    }
  }
}

.promoblack__wt-w{
  display: none;
}

@media (max-width: 859px) {
  .promoblack{
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .promoblack__title{
    margin-right: 0;
    font-size: 30px;
  }
  .promoblack__title .desc{
    font-size: 15px;
  }
  .promoblack__vagons{
    height: 245px;
    &:before{
      bottom: 0;
    }
  }
  .promoblack__wt-w{
    display: block;
    margin-top: 43px;
    button{
      width: 100%;
    }
  }
}