.promo{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0 20px;
  padding-top: 70px;
  padding-bottom: 120px;
}
.promo__text{
  h1{
    margin-bottom: 25px;
  }
}

.promo__desc{
  max-width: 75%;
}

.promo__icons{
  & > div{
    position: absolute;
    z-index: 1;
  }
}
.ico1{
  bottom: 142px;
  left: calc(41% + 234px);
  text-align: center;
}

.ico2{
  width: 24px;
  height: 30px;
  bottom: 58px;
  left: calc(41% + 708px);
  img{
    width: 24px;
    height: 30px;
  }
}

.ico3{
  width: 24px;
  height: 30px;
  bottom: 9px;
  left: calc(41% + 1060px);
  img{
    width: 24px;
    height: 30px;
  }
}

.panel{
  bottom: 62px;
  left: calc(41% + 314px);
  background: rgba(#000, .5);
  border-radius: 5px;
  padding: 20px 25px;
  color: #fff;
  font-size: 20px;
  b{
    font-weight: 500;
  }
  div{
    margin-top: 5px;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
  }
}


@media (max-width: 859px) {
  .yellow_w_header:before{
    left: -150%;
  }
  .promo{
    grid-template-columns: repeat(4, 1fr);
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .promo__desc{
    max-width: 100%;
    margin-bottom: 30px;
  }
  .form__btn_w{
    flex-direction: column;
  }
  .promo__form button{
    width: 100%;
    margin-bottom: 10px;
  }
}