.card-result-row{
	flex-wrap: wrap;
	display: flex;
	.card:nth-child(3n+2) {
		border-right: 1px solid rgba(#000, .15);
		border-left: 1px solid rgba(#000, .15);
	}
	.card{
		width: calc(100% / 3);

		.img{
			padding: 30px;
			img{
				max-width: 100%;
			}
		}
		.name-w{
			padding: 0 30px;
			.name{
				font-family: "TTFirsNeue-Medium",sans-serif;
				text-transform: uppercase;
				font-size: 24px;
				line-height: 1.4;
				margin-bottom: 20px;
			}
			.desc{
				font-size: 14px;
				line-height: 1.4;
			}
		}
		.minirow-w{
			padding: 0 30px;
		}
		.minirow{
			font-size: 14px;
			.left{
				width: 50%;
				opacity: .7;
				padding-left: 20px;
				padding-top: 20px;
				padding-bottom: 10px;
				border-bottom: 1px solid rgba(#000, .15);
			}
			.right{
				width: 50%;
				padding: 20px 20px 10px;
				border-bottom: 1px solid rgba(#000, .4);
			}
		}
		.price_block{
			padding: 30px;

			.price{
				font-family: "TTFirsNeue-Medium",sans-serif;
				font-style: normal;
				text-transform: uppercase;
				font-size: 24px;
				line-height: 1.4;
			}
		}
	}
}

@media (min-width: 1400px) and (max-width: 1660px) {

	.card-result-row .card .price_block{
		padding: 23px;
	}
	.card-result-row .card .name-w .name{
		font-size: 20px;
	}
	.card-result-row .card .description{
		font-size: 14px;
		p{
			font-size: inherit;
		}
	}
	.card-result-row .card .price_block .price{
		font-size: 20px;
	}
}

@media (min-width: 1024px) and (max-width: 1399px) {
	.card{
		position: relative;
	}
	.card-result-row .card:nth-child(3n+2){
		border-left: none;
		border-right:none;
	}
	.card-result-row .card .name-w .name {
		font-size: 20px;
	}
	.card-result-row .card .minirow .left{
		padding-left: 10px;
	}
	.card-result-row .card .minirow .right{
		padding-right: 20px;
	}
	.card-result-row .card .price_block{
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.card-result-row .card .price_block .price{
		margin-bottom: 10px;
	}
	.card-result-row .card .img{
		height: 298px;
		margin-bottom: 30px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-result-row .card{
		padding-bottom: 150px;
	}
}

@media (max-width: 1023px) {
	.card-mobile{
		display: flex;
		flex-direction: column;
		.left{
			width: 50%;
		}
		.right{
			width: 50%;
		}
		.description p{
			font-size: inherit;
			margin-bottom: 0;
		}
	}
	.result-table .card-mobile td{
		border-right: 1px solid #E6E6E6;
	}
	.result-row-2 .price_block .price{
		margin-bottom: 0;
	}
	.card-title{

		border-bottom: none;
		border-right: none;
		color: rgba(0,0,0,.5);
		font-family: TTFirsNeue-Medium,sans-serif;
		font-size: 12px;
		font-style: normal;
		line-height: 1.4;

		text-transform: uppercase;
	}
	.result-table thead{
		display: none;
	}
	.card-result-row{
		flex-direction: column;
		.card{
			width: 100%;
			border: 1px solid #E6E6E6;
			margin-bottom: -1px;
			.img{
				padding: 20px;
			}
			.name-w{
				padding: 0 20px;
				.name{
					font-size: 16px;
					margin-bottom: 10px;
				}
			}
			.description{
				font-size: 12px;
				line-height: 1.4;
				p{
					font-size: inherit;
				}
			}
			.minirow-w{
				padding: 0 20px;
			}
			.minirow{
				font-size: 10px;
				.left{
					padding-left: 15px;
					padding-top: 15px;
				}
				.right{
					padding: 15px 15px 10px;
				}
			}
			.price_block{
				padding: 20px;
			}
			.price_block .price{
				font-size: 16px;
			}
			.btn-w{
				.btn-classic{
					height: 40px;
					font-size: 11px;
				}
			}
		}
	}
}