.foot-version{
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 9px;
}
.footer {
	color: #fff;
	position: relative;
	font-family: 'Sofia Sans', sans-serif; font-weight: 400;
	.line1{
		background: #1E1F28;
		.col1{
			padding-top: 48px;
			font-family: 'Sofia Sans', sans-serif; font-weight: 500;
			font-style: normal;
			border-left: 1px solid rgba(#fff, .1);
			padding-left: 30px;
			padding-right: 30px;
			.foot-text {
				margin-top: 30px;
				font-size: 16px;
				line-height: 1.5;
				opacity: .5;
				padding-right: 10px;
				font-family: 'Roboto', sans-serif; font-weight: 400;
				.copy{
					margin-top: 60px;
				}
			}
		}
		.col2{
			padding-top: 64px;
			font-family: 'Sofia Sans', sans-serif; font-weight: 500;
			font-style: normal;
			font-size: 30px;
			line-height: 1.5;
			border-right: 1px solid rgba(#fff, .1);
			border-left: 1px solid rgba(#fff, .1);
			padding-left: 60px;
			padding-right: 60px;
			ul{
				li{
					line-height: 1;
					margin-bottom: 15px;
					a, button{
						color: #fff;
						text-decoration: none;
						font-size: 16px;

						font-family: 'Roboto', sans-serif; font-weight: 500;
					}
				}
			}


		}
		.col3{
			border-right: 1px solid rgba(#fff, .1);
			padding: 64px 75px 35px;

			.phone{
				text-transform: uppercase;
				font-size: 30px;
				line-height: 1.5;
				font-family: 'Sofia Sans', sans-serif; font-weight: 500;
				color: #FFF;
			}
			.btn-wt{
				margin-top: 20px;
				color: #fff;
				font-size: 18px;
				width: 280px;
				height: 40px;
				font-family: 'Sofia Sans', sans-serif; font-weight: 600;
			}
			.foot-address{
				color: rgba(#fff, 1);
				font-size: 18px;
				margin-top: 25px;
				font-family: 'Roboto', sans-serif; font-weight: 400;
				line-height: 1.5;
				opacity: .5;
			}
		}
	}
	.line2{
		background: #1E1F28;
		.col1{
			padding-top: 0;
			padding-left: 30px;
			border-left: 1px solid rgba(#fff, .1);
			padding-bottom: 204px;
		}
		.col2{
			border-right: 1px solid rgba(#fff, .1);
			border-left: 1px solid rgba(#fff, .1);
			padding-left: 90px;
			padding-right: 80px;
			padding-top: 55px;

		}
		.col3 {
			border-right: 1px solid rgba(#fff, .1);
		}
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: -30px;
		width: calc(100% + 30px);
		height: 163px;
		background: url("../img/train.png") 0 top no-repeat;
		background-size: 2187px 200px;
	}
}
.foot-logo{
	width: 247px;
	height: 78px;
	background: url("../img/logo.svg") 0 0 no-repeat;
	background-size: contain;
	display: block;
}




@media (min-width: 1400px) and (max-width: 1660px) {

	.footer .line1 .col1 ul li a, .footer .line1 .col1 ul li button{
		font-size: 16px;
	}
	.footer .line1 .col2{
		padding-left: 60px;
		padding-right: 60px;
		//font-size: 26px;
		padding-top: 64px;
	}
	.footer .line2 .col1{
		padding-left: 20px;
		padding-bottom: 150px;
	}
	.foot-logo{
		width: 191px;
		height: 57px;
	}
	.footer .line2 .col1 .foot-text .copy{
		margin-top: 14px;
	}
	.footer .line2 .col1 .foot-text{
		font-size: 16px;
		padding-right: 10px;
	}
	.footer .line1 .col3{
		padding: 64px 68px 35px;
	}
	.footer .line2 .col2{
		padding-left: 76px;
	}
	.footer .line2 .col1 .foot-policy{
		font-size: 16px;
		margin-top: 38px;
	}
	.footer .line2 .col2 ul li a, .footer .line2 .col2 ul li button{
		font-size: 24px;
	}


	.footer .line2 .col2 ul li{
		margin-bottom: 15px;
	}
	.footer .line2 .col3 .btn-wt{
		margin-top: 12px;
		font-size: 16px;
	}
	.footer .line1 .col2 .btn-wt{
		font-size: 16px;
		margin-top: 10px;
	}
	.footer .line1 .col1{
		padding-top: 55px;
	}
	.footer .line1 .col3 .phone{
		font-size: 24px;
	}

	.footer .line2 .col3{
		padding-left: 65px;
	}

	.btn-wt{
		font-size: 20px;
		padding: 14px 23px;
	}
	.footer .ico-wt{
		width: 20px;
		height: 20px;
		background-size: contain;
	}

	.footer .line2 .col3 .head{
		margin-bottom: 30px;
	}
	.footer .line1 .col1 .foot-text {
		margin-top: 45px;
		padding-right: 10px;
		font-size: 16px;
	}
	.footer .line1 .col3 .foot-address{

		font-size: 16px;
	}
	.footer .line1 .col1 ul li{
		margin-bottom: 22px;
	}
	.footer .line1 .col2 .btn-wt{
		width: 224px;
		height: 53px;
	}
	.footer .line1 .col1 .foot-text .copy{

	}
}

@media (min-width: 1024px) and (max-width: 1399px){

	.footer .line1 .col2{
		padding-left: 30px;
		padding-right: 30px;
		font-size: 26px;
		padding-top: 63px;
	}
	.footer .line2 .col1{
		padding-left: 20px;
		padding-bottom: 185px;
	}
	.foot-logo{
		width: 217px;
		height: 66px;
	}
	.footer .line2 .col1 .foot-text .copy{

	}
	.footer .line2 .col1 .foot-text{
		font-size: 14px;
		padding-right: 10px;
	}
	.footer .line1 .col3{
		padding: 63px 30px 35px;
	}
	.footer .line2 .col2{
		padding-left: 30px;
		padding-right: 30px;
	}
	.footer .line2 .col1 .foot-policy{
		font-size: 22px;
		margin-top: 73px;
	}
	.footer .line2 .col2 ul li a, .footer .line2 .col2 ul li button{
		font-size: 20px;
	}
	.footer .line2 .col2 .head, .footer .line2 .col3 .head{
		font-size: 25px;
		margin-bottom: 50px;
	}
	.footer .line2 .col3 .btn-wt{
		margin-top: 12px;

	}
	.footer .line1 .col1{
		padding-top: 44px;
		font-size: initial;
	}

	.footer .line1 .col3 .phone{
		font-size: 24px;
	}

	.footer .line1 .col2 ul li a, .footer .line1 .col2 ul li button{

	}
	.footer .line1 .col3 .foot-address{
		font-size: 16px;
	}

	.footer .line2 .col3{
		padding-left: 30px;
	}
	.footer .line1 .col3 .btn-wt{
		font-size: 14px;
		width: 224px;
	}
	.footer .line1 .col1 .foot-text{
		font-size: 16px;
	}

	.btn-wt{
		font-size: 14px;
		padding: 14px 15px;
	}
	.footer .ico-wt{
		width: 20px;
		height: 20px;
		background-size: contain;
	}
	.footer .line2 .col3 .foot-address{
		font-size: 20px;
	}
	.footer .line2 .col1 .foot-policy a{
		font-size: 14px;
	}
}

@media (max-width: 1023px) {
	.footer .line1 .col3 .foot-address{
		margin-top: 30px;
	}

	.footer .line1 .col1{
		padding-top:55px;
		border-right: 1px solid rgba(#fff, .1);
		padding-bottom: 35px;
	}
	.footer .line1 .col2{
		border-top: 1px solid rgba(#fff, .1);
		padding: 40px 30px 25px;
		font-size: 22px;
	}
	.footer .line1 .col3{
		padding: 40px 30px 35px;
		border: 1px solid #35363e;
		margin-bottom: 0px;
	}


	.footer .line2 .col2{
		padding: 30px 30px 30px;
	}

	.footer .line1 .col1 ul li a,
	.footer .line1 .col1 ul li button
	{
		font-size: 18px;
	}

	.footer .line1 .col3 .phone{
		font-size: 21px;
	}
	.footer .line1 .col3 .btn-wt{
		font-size: 16px;
		padding-left: 20px;
		padding-right: 10px;
		width: 100%;
		max-width: 300px;
		.ico-wt{
			width: 20px;
			height: 20px;
			background-size: contain;
			flex: 0 0 20px;
			margin-right: 5px;
		}
	}

	.footer .line2 .col1{
		padding-bottom: 30px;
		border: none;
		height: 100px;
	}
	.foot-logo{
		width: 190px;
		height: 59px;
	}
	.footer .line1 .col1 .foot-text {
		color: hsla(0,0%,100%,.6);
		font-size: 14px;
		line-height: 1.5;
		margin-top: 27px;
		.copy{
			margin-top: 20px;
		}
	}
	.footer .line1 .col3 .foot-address {
		font-size: 14px;
	}
}