.header{
	background: rgba(#1E1F28, .5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	height: 90px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	transition: .2s background-color;
	.row > div{
		align-items: center;
	}
	&.active{
		height: 100vh;
		overflow-y: scroll;
	}
	&.scrolled{
		transition: .2s background-color;
		background-color: #373947;
	}
}
.fixed_block{
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 70px;
	background: $green;
	color: #FFFFFF;
	text-transform: uppercase;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 200;
	cursor: pointer;
	a{
		color: #fff;
		font-family: "TTNorms-Medium", sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	span{
		border-radius: 50%;
		background: $red;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		min-width: 25px;
		margin-left: 10px;
	}
}
.h90{
	height: 90px;
}

.logo{
	width: 171px;
	height: 52px;
	display: block;
}

.top-menu{
	margin: 0;
	padding: 0;
	display: flex;
	& > li{
		margin-right: 84px;
		&.has-child{
			position: relative;
			&:after{
				content: '';
				display: block;
				position: absolute;
				right: -20px;
				top: 5px;
				background: url("../img/ico-arrow-down.svg") 0 0 no-repeat;
				width: 12px;
				height: 7px;
				transition: .2s all;
			}
			div{
				position: absolute;
				top: 0;
				padding-top: 25px;
				transition: .3s all;
				opacity: 0;
				pointer-events: none;
				left: 50%;
				transform: translateX(-50%) scale(.9);
			}
		}
		&:last-child{
			margin-right: 0;
		}
		& > a, & > button{
			color: #fff;
			font-size: 16px;
			font-family: "TTFirsNeue-Medium", sans-serif;
			text-transform: uppercase;
			text-decoration: none;
		}
		ul{
			border: 1px solid #383838;
			background: #1E1F28;
			padding: 30px;
			li{
				margin-bottom: 13px;
				border-bottom: 1px solid #383838;
				padding-bottom: 13px;
				&:last-child{
					border-bottom: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				a, button{
					color: #fff;
					text-decoration: none;
					white-space: nowrap;
					font-size: inherit;
					padding: 0;
					margin: 0;
				}
			}
		}
		&:hover{
			div{
				transition: .3s all;
				opacity: 1;
				pointer-events: all;
				transform: translateX(-50%) scale(1);
			}
			&:after{
				transform: rotate(180deg);
				transition: .2s all;
			}
		}

			a.active, button.active{
				color: $yellow;
			}

	}
}

.top-cart-link-w{
	position: relative;
}
.top-cart-link{
	margin-left: 20px;
	color: rgba(#fff,.5);
	font-family: "TTFirsNeue-Medium", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	display: flex;
	align-items: center;
	&.notempty{
		color: #fff;
		&:after{
			opacity: 1;
		}
	}
	&.active{
		color: $yellow;
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: -30px;
		width: 20px;
		height: 20px;
		top: -5px;
		background: url('../img/cart.svg') 0 0 no-repeat;
		background-size: contain;
		opacity: .5;
	}
	&.active{
		&:after{
			background: url('../img/cart-y.svg') 0 0 no-repeat;
			background-size: contain;
			opacity: 1;
		}
	}
	span{
		border-radius: 25px;
		padding: 3px 5px 1px;
		margin-top: -2px;
		line-height: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFFFFF;
		margin-left: 5px;
		left: 100px;
		background: #000;
		min-width: 20px;
		position: absolute;
	}
	span.active{
		background: $yellow;
		color: #000;
	}
}
.top-contacts{
	justify-content: flex-end;
	width: 100%;
	a{
		color: #fff;
		font-size: 21px;
		font-family: "TTFirsNeue-DemiBold", sans-serif;
		font-weight: 700;
		text-decoration: none;
		margin-left: 18px;
		&:first-child{
			margin-left: 0;
		}
	}
}

.header-bg{
	padding-top: 90px;
	margin-top: -90px;
	color: #fff;
	.line2{
		padding-bottom: 60px;
	}
}

.hbg1{
	background: url("../img/header1.jpg") center top no-repeat #000;
	background-size: cover;
}

.mobile{
	display: none;
}

.btn-burger {
	position: relative;
	width: 25px;
	height: 22px;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.btn-burger:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 3px;
	background: #fff;
	transition: .3s all;
}

.btn-burger span {
	width: 25px;
	height: 3px;
	background: #fff;
	display: block;
	transition: .3s all;
}

.btn-burger:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 3px;
	background: #fff;
	transition: .3s all;
}
.btn-burger.active:before {
	transform: rotate(45deg);
	top: 10px;
	transition: .3s all;
}
.btn-burger.active span {
	opacity: 0;
	transition: .3s all;
}
.btn-burger.active:after {
	transform: rotate(-45deg);
	width: 25px;
	bottom: 8px;
	transition: .3s all;
}


.mobile-header-call{
	display: block;
}

.mobile-menu{
	opacity: 0;
	transform: scale(.9);
	transition: .3s all;
	pointer-events: none;
	z-index: -99;
	position: absolute;
	left: 0;
	right: 0;
	padding-top: 20px;
	/*top: 90px;
	height: 100vh;*/
}

.mobile-menu-minicart{
	justify-content: center;
	border-top: 1px solid rgba(#fff, .15);
	border-bottom: 1px solid rgba(#fff, .15);
	padding: 20px 0;
	margin-bottom: 40px;
	margin-left: -30px;
	width: calc(100% + 60px);
}

.mobile-menu-contacts{
	.ico{
		width: 35px;
		height: 35px;
		background-size: contain;
		margin: 0 13px;
	}
}
.mobile-menu-contacts__tel{
	text-align: center;
	margin-top: 20px;
}

.header.active{
	.mobile-menu{
		z-index: 9999;
		pointer-events: all;
		opacity: 1;
		transform: scale(1);
		transition: .3s all;
	}
}

.mobile-menu-ul{
	margin: 0;
	padding: 0;
	flex-direction: column;
	& > li{
		text-align: center;
		margin-bottom: 30px;
		width: 100%;
		max-width: 600px;
		&.has-child{
			margin-bottom: 20px;
			& > a, & > button{
				position: relative;
				padding: 0;
				margin: 0;
				line-height: 1;
				&:after{
					content: '';
					display: block;
					position: absolute;
					right: -20px;
					top: 5px;
					background: url("../img/ico-arrow-down.svg") 0 0 no-repeat;
					width: 12px;
					height: 7px;
					transition: .2s all;
				}
			}
			div{
				padding-top: 10px;

			}
		}
		&:last-child{
			margin-right: 0;
		}
		& > a, & > button{
			color: #fff;
			font-size: 16px;
			font-family: "TTFirsNeue-Medium", sans-serif;
			text-transform: uppercase;
			text-decoration: none;
		}
		ul{
			border: 1px solid #383838;
			background: #1E1F28;
			padding: 30px;
			li{
				margin-bottom: 13px;
				border-bottom: 1px solid #383838;
				padding-bottom: 13px;
				&:last-child{
					border-bottom: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				a, button{
					color: #fff;
					text-decoration: none;
					white-space: nowrap;
				}
				button{
					color: #fff;
					font-size: 16px;
					font-family: "TTFirsNeue-Medium", sans-serif;
					text-decoration: none;
					white-space: nowrap;
				}
			}
		}
		&.active{
			div{
				transition: .3s all;
				opacity: 1;
			}
			& > button:after{
				transform: rotate(180deg);
				transition: .2s all;
			}
		}

		a.active{
			color: $yellow;
		}

	}
}

.dropdown-menu {
	max-height: 0;
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
	transform: scaleY(0);
	transform-origin: 50% 0%;
	transition: .3s all ease-out;
}

.has-child.active .dropdown-menu{
	max-height: 9999px;
	display: block;
	transform: scaleY(1);
	transition: .3s all ease-in-out;
}

@media (min-width: 1400px) and (max-width: 1660px) {
	body{
		padding-top: 80px;
	}
	.top-menu > li{
		margin-right: 69px;
	}
	.top-cart-link{
		white-space: nowrap;
		font-size: 14px;
	}
	.header{
		height: 80px;
	}
	.header-bg{
		padding-top: 80px;
		margin-top: -80px;
	}
	.header-bg .line2{
		padding-bottom: 37px;
	}
	.h90{
		height: 80px;
	}
	.logo {
		width: 141px;
		height: 46px;
		display: block;
	}
	.top-menu > li > a{
		font-size: 14px;
	}
	.top-contacts a{
		font-size: 16px;
		margin-left: 14px;
	}
	.top-cart-link span{
		left: 90px;
	}
}

@media (min-width: 1024px) and (max-width: 1399px){
	.logo{
		margin: 0 auto;
	}
}


@media (max-width: 1023px) {
	.header-bg{
		background-size: cover;
	}
	.logo{
		margin: 0 auto;
		width: 138px;
		height: 43px;
	}
	.mobile{
		display: flex;
	}
	.page_header_btn{
		justify-content: center;
		padding-top: 25px;
		.btn{
			width: calc(100% - 10px);
			max-width: 300px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.header-bg .line2{
		padding-bottom: 45px;
	}
	.fixed_block{
		display: flex;
	}
}
