.home_cats{
	position: relative;
	z-index: 3;
	background: #fff;
	.row:first-child{
		padding-top: 90px;
	}
	.row:last-child{
		padding-bottom: 75px;
	}
	h1 {
		text-align: center;
		margin-bottom: 66px;
	}
	.img{
		height: 185px;
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.name{
		font-size: 24px;
		margin-bottom: 20px;
	}
	.price{
		color: #494E5D;
		font-size: 16px;
		margin-bottom: 25px;
		font-family: 'TTNorms-Bold', sans-serif;
	}
	.btn{
		min-width: 220px;
	}
}
@media (min-width: 1024px) and (max-width: 1399px){
	.home_cats h1{
		font-size: 50px;
	}
	.home_cats .img{

			img{
				max-width: 220px;
				height: auto;

			}

	}
}


@media (min-width: 1400px) and (max-width: 1660px) {
	.home_cats .name{
		font-size: 21px;
	}
	.home_cats .img{
		height: 165px;
		margin-bottom: 41px;

	}
}


@media (max-width: 1023px) {
	.home_cats .row:first-child{
		padding-top: 40px;
	}
	.home_cats{
		padding-top: 40px;
		padding-bottom: 0;
		h1{
			font-size: 36px;
			line-height: 1.4;
			margin-bottom: 40px;
		}
		.btn{
			width: 270px;
			min-width: auto;
		}
		.img{
			height: auto;
			img{
				max-width: 100%;
				height: auto;
			}
		}
		.item{
			margin-bottom: 80px;
		}
	}
	.home_cats .row:last-child{
		padding-bottom: 35px;
	}

}