.testimonials{
	margin-top: 80px;
	padding-top: 80px;
	padding-bottom: 30px;
}
.testimonials-ul{
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 0 !important;
	justify-content: center;
	padding: 0 100px;
	li{
		margin-right: 2%;
		margin-left: 2%;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 40px;
		cursor: pointer;
		span{
			border-bottom: 1px dotted #000;
		}
		&:after{
			content: '';
			display: block;
			background: url("../img/testi_arr.svg");
			width: 20px;
			height: 20px;
			left: -38px;
			top: 0;
			position: absolute;
			background-size: contain;
			transition: .3s all;
			opacity: 0;
		}
		&:hover{
			&:after{
				left: -28px;
				transition: .3s all;
				opacity: 1;
			}
		}
	}
}

.homeseo{

	position: relative;
	.left{
		border-top: 1px solid rgba(230, 230, 230, 0.5);
		border-left: 1px solid rgba(230, 230, 230, 0.5);
		border-right: 1px solid rgba(230, 230, 230, 0.5);
		padding: 30px 30px 30px;
	}
	.right{
		padding-top: 0;
		padding-bottom: 60px;
		justify-content: space-around;
		img{
			max-width: 230px;
			width: 100%;
			height: auto;
		}
	}
	.title{
		margin-top: 30px;
		font-size: 14px;
		span{
			display: block;
		}
	}
	.name{
		font-family: "TTFirsNeue-Medium",sans-serif;
		font-style: normal;
		font-size: 24px;
		line-height: 1.4;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.head{
		font-family: "TTFirsNeue-Medium",sans-serif;
		font-style: normal;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 1.4;
		margin-bottom: 20px;
	}
	.desc{
		font-size: 16px;
		line-height: 1.5;
		p{
			font-size: inherit;
			line-height: inherit;
			margin-bottom: 30px;
		}
	}
	.btn-wt-green{
		padding: 10px 20px;
		font-size: 14px;
	}
}

@media (min-width: 1024px) and (max-width: 1399px) {
	.homeseo .left, .homeseo .right {
		padding-top: 40px;
	}
	.homeseo .right{
		img{
			width: 80%;
			height: auto;
		}
	}
	.homeseo .name{
		font-size: 20px;
	}
	.homeseo .btn-wt-green{
		padding: 11px 21px;
		font-size: 16px;
	}
	.count-5{
		flex-wrap: wrap;
		& > div{
			width: calc(100% / 3);
			margin-bottom: 40px;
		}
	}
	.count-4{
		& > div{
			width: calc(100% / 4);
		}
	}
	.count-3{
		& > div{
			width: calc(100% / 3);
		}
	}
}

@media (min-width: 1400px) and (max-width: 1660px) {
	.homeseo .head{
		font-size: 32px;
		margin-bottom: 13px;
	}
	.homeseo .desc{
		font-size: 14px;
	}
	.homeseo .left{
		padding-left: 20px;
	}
	.homeseo .right{
		padding-top: 0;
		img{
			width: 80%;
			height: auto;
		}
	}
	.homeseo .title{
		font-size: 13px;
	}
	.homeseo .name{
		font-size: 21px;
		margin-top: 5px;
	}
	.homeseo .btn-wt-green{
		padding: 10px 20px;
		font-size: 14px;
	}
}

@media (max-width: 1023px){
	.layout .testimonials{
		padding-top: 50px;
		padding-bottom: 0;
	}
	.testimonials{
		margin-top: 0;
		padding-top: 10px;
		padding-bottom: 50px;
	}
	.homeseo .right{
		flex-direction: column;
		&>div{
			margin-bottom: 50px;
		}
	}
	.testimonials-ul{
		padding: 0;
	}
}

@media (max-width: 600px){
	.homeseo .left{
		padding-top: 60px;
	}
	.homeseo .right{
		padding-top: 20px;
		padding-bottom: 30px;
		border-left: 1px solid rgba(230, 230, 230, 0.5);
	}
	.testimonials-ul{
		padding: 0;
	}
}
