.megamap{
	position: relative;
	.form{
		//background: #373947;
		background: $yellow;
		position: relative;
		z-index: 3;

		.head{
			font-family: "TTFirsNeue-Medium",sans-serif;
			font-style: normal;
			//color: #fff;
			color: #000;
			font-size: 36px;
			line-height: 1.4;
			text-transform: uppercase;

			margin-right: 20px;

		}
		.mini_filter_w{
			margin-top: 20px;
		}
		.row:last-child{

		}
		/*		.btn-classic{
                    width: 100%;
                }*/
	}
	.title{
		position: absolute;
		top: 310px;
		width: 100%;
		text-align: center;
		pointer-events: none;
	}
	.head{
		font-family: "TTFirsNeue-Medium",sans-serif;
		font-style: normal;
		text-transform: uppercase;
		font-size: 60px;
		line-height: 1.4;
	}
	.desc{
		font-family: "TTFirsNeue-Medium",sans-serif;
		font-style: normal;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 1.4;
	}
}
.mini_filter_w{
	align-items: center;
	padding-bottom: 20px;
	.mini-filter{
		width: 290px;
	}
	.fh_r button{
		height: auto;
		padding: 22px 50px 19px;
		margin-left: 0;
	}
	.head{
		margin-top: 2px;
		line-height: 1 !important;
	}
}
.map{
	margin-top: -240px;
	background: #EBF2FF;
	padding-bottom: 20px;
	svg{
		width: 100%;
		max-width: 100%;
	}
}

#map{
	path.area{
		&.active{
			fill: #1D64B7;
			transition: .2s all;
		}
		&:hover, &.hover{
			fill: #63a1e8;
			transition: .2s all;
		}
	}
	.path{
		pointer-events: none;
	}
	.path.area{
		pointer-events: auto;
	}
	.path.back{
		&.active{
			fill: #fff;
			stroke: #373947;
		}
	}
}

.mr-title{
	margin-bottom: 40px;
	.desc2 .desc{
		margin-top: 10px;
		margin-bottom: 10px;
		font-family: "TTNorms-Regular", sans-serif;
		color: rgba(0, 0, 0, 0.6);
		text-transform: none;
		margin-right: 20px;
		text-align: left;
		font-size: 18px;
	}
}

.map_result{
	.row:first-child{
		padding-top: 60px;
	}
	.desc{
		font-size: 18px;
	}
}

.result-row{
	border: 1px solid rgba(#000, .15);
	border-bottom: 0;
	.img{
		width: 25%;
		padding: 30px;
		img{
			max-width: 100%;
		}
	}
	.name-w{
		width: 75%;
		padding: 30px 30px 30px 0;
	}
	.name{
		font-family: "TTFirsNeue-Medium",sans-serif;
		font-style: normal;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 1.4;
		margin-bottom: 20px;
	}
	.description{
		font-size: 14px;
		line-height: 1.4;
	}
	.minirow{
		font-size: 14px;
		.left{
			width: 50%;
			opacity: .7;
			padding-left: 20px;
			padding-top: 20px;
			padding-bottom: 10px;
			border-bottom: 1px solid rgba(#000, .15);
		}
		.right{
			width: 50%;
			padding: 20px 20px 10px;
			border-bottom: 1px solid rgba(#000, .4);
		}
		&:last-child{
			margin-bottom: 30px;
		}
	}
	.price_block{
		padding-top: 30px;
		padding-right: 30px;
		padding-bottom: 32px;
		.price{
			font-family: "TTFirsNeue-Medium",sans-serif;
			font-style: normal;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 1.4;
			margin-bottom: 20px;
		}
	}
}


.result-row-2{
	border: 1px solid rgba(#000, .15);
	border-bottom: 0;
	.img{
		width: 25%;
		padding: 30px;
		img{
			max-width: 100%;
		}
	}
	.name-w{
		padding-left: 10px;
	}
	.name{
		font-family: "TTNorms-Regular", sans-serif;
		font-style: normal;
		line-height: 1.4;
		margin-bottom: 5px;
	}
	.description{
		line-height: 1.4;
		p{
			font-size: inherit;
			margin-bottom: 0;
		}
	}

	.price_block{
		.price{
			font-family: "TTNorms-Medium", sans-serif;
			font-style: normal;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 1.4;
			margin-bottom: 20px;
			white-space: nowrap;
		}
	}
	.btn-classic{
		height: auto;
		padding: 20px 20px 20px;
	}
}
.card .model{
	min-width: 120px;
}

.result-table{
	width: 100%;
	td{
		padding: 15px 10px 10px;
		border: 1px solid #E6E6E6;
		border-bottom: none;
		border-right: none;
		&:last-child{
			border-right: 1px solid #E6E6E6;
		}
	}
	th{
		font-family: "TTFirsNeue-Medium", sans-serif;
		font-style: normal;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.4;
		color: rgba(0, 0, 0, 0.5);
		padding: 15px 10px 10px;
		border: 1px solid #E6E6E6;
		border-bottom: none;
		border-right: none;
		white-space: nowrap;
		text-align: left;
		&:last-child{
			border-right: 1px solid #E6E6E6;
		}
		&.ta_c{
			text-align: center;
		}
	}
	.btn-w{
		button{
			width: 100%;
		}
	}
	.year{
		min-width: 110px;
	}
	.description{
		p{
			font-size: inherit;
			margin-bottom: 0;
		}
	}
	.price{
		font-family: "TTNorms-Medium", sans-serif;
		white-space: nowrap;
	}
}

.footer-row{
	border-bottom: 1px solid rgba(#000, .15);
}

.popup_inner{
	background-color: #FFFFFF;
	font-size: 16px;
	padding: 40px;
	.head3{
		color: #000000;
	}
}

.search_item{
	min-width: 300px;
	margin-right: 30px;
	&:last-child{
		margin-right: 0;
	}
	.code{
		font-size: 14px;
		color: #959698;
		margin-bottom: 10px;
	}
	.name{
		font-size: 16px;
		text-transform: uppercase;
		font-family: 'TTFirsNeue-DemiBold',sans-serif;
		margin-bottom: 25px;
		padding-right: 10px;
		white-space: nowrap;
	}
	.city{
		font-size: 16px;
		color: #373947;
		margin-bottom: 25px;
		padding-left: 20px;
		position: relative;
		&:before{
			display: block;
			content: '';
			position: absolute;
			left: 0;
			top: 3px;
			width: 12px;
			height: 12px;
			background: #FFF100;
			border-radius: 50%;
		}
	}
	.description{
		font-family: 'TTNorms-Bold', sans-serif;
		font-size: 16px;
		margin-bottom: 25px;
		ul{
			margin-top: 10px;
		}
		li{
			font-family: 'TTNorms-Regular', sans-serif;
			font-size: 16px;
			margin-top: 5px;
		}
	}
	&:last-child{
		margin-bottom: 0;
	}
}

.res_head{
	font-size: 16px;
	line-height: 1.5;
	font-family: "TTNorms-Bold", sans-serif;
}
.catItem{
	font-size: 16px;
	line-height: 1.5;
	span{
		font-family: "TTNorms-Bold", sans-serif;
		&.green{
			color: #1CB82C;
		}
	}
}
.react-loading-skeleton.catItem{

	display: block;
}
.popupbox{
	background: #fff;
	width: auto;
	position: fixed;
	padding: 40px;
	opacity: 0;
	visibility: hidden;
	transition: .2s all;
	display: flex;
	left: 50%;
	top: 50%;
	border: 1px solid rgba(0, 0, 0, 0.15);
	transform: translateX(-50%) translateY(-50%);
	&.active{
		opacity: 1;
		visibility: visible;
		transition: .2s all;
		z-index: 22;
	}
	.btn-classic, .btn-wt-green{
		height: 40px;
		padding: 0 20px;
		font-size: 11px;
		margin-top: 20px;
		width: 100%;
		text-transform: uppercase;
	}
	.close{
		position: absolute;
		right: 15px;
		top: 15px;
		width: 15px;
		height: 15px;
		background: url("../img/close-dark.svg") 0 0 no-repeat;
		background-size: contain;
		z-index: 22;
	}
}

.homemap .mapwrapper{
	display: block;
}
.homemap .rowswrapper{
	display: none;
}

@media (min-width: 1024px) and (max-width: 1399px){

	.result-row .img{
		padding: 30px 10px;
	}
	.result-row .name{
		font-size: 20px;
		margin-bottom: 15px;
	}
	.result-row .price_block{
		padding-right: 10px;
	}
	.megamap .title{
		top: 260px;
	}
	.megamap .head{
		flex-direction: column;
		font-size: 45px;
	}
	.megamap .form .head{
		white-space: nowrap;
		font-size: 21px;
	}
}


@media (min-width: 1400px) and (max-width: 1660px) {

	.megamap .form .head{
		font-size: 32px;

		margin-bottom: 0;
	}
	.megamap .title{
		top: 340px;
	}
	.megamap .head{
		font-size: 42px;
	}
	.map{
		margin-top: -310px;
		margin-bottom: -130px;
	}
	.ico-hand{
		width: 60px;
		height: 60px;
		background-size: contain;
	}
	.megamap .desc{
		margin-top: 12px;
	}
	.map_result{
		background: #fff;
		position: relative;

	}
	.map_result .row:first-child{
		padding-top: 40px;
	}
	.result-row .img{
		padding: 25px;
	}
	.result-row .name-w{
		padding: 25px 25px 25px 0;
	}
	.result-row .name{
		font-size: 20px;
	}
	.result-row .price_block{
		padding-top: 25px;
		padding-right: 25px;
	}
	.result-row .description{
		font-size: 14px;
		p{
			font-size: inherit;
		}
	}
	.mini_filter_w .mini-filter{
		width: 215px;
	}
	.mr-title{

		.desc2 .desc{
			margin-top: 10px;
			margin-bottom: 10px;
			font-family: "TTNorms-Regular", sans-serif;
			color: rgba(0, 0, 0, 0.6);
			text-transform: none;
			margin-right: 20px;
			text-align: left;
			font-size: 16px;
		}
	}
}

@media (max-width: 1023px) {
	.mr-title .desc2{
		flex-direction: column;
		.desc{
			text-align: center;
			font-size: 14px;
		}

	}
	.twocol{
		display: flex;
		align-items: center;
		.width50{
			flex: 0 0 50%;
		}
	}
	.price_block{
		display: flex;
		padding-top: 10px !important;
	}
	.homemap .mapwrapper{
		display: none;
	}
	.homemap .rowswrapper{
		display: block;
	}
	.popup_inner{
		font-size: 14px;
		padding: 25px;
	}
	.megamap{
		.form{
			padding-bottom: 0;
			padding-top: 0;
		}
		.form .head{
			flex-direction: column;
			font-size: 30px;
		}
		.form-control{
			width: 100%;
			max-width: 600px;
			margin-bottom: 20px;
		}
		.head{
			font-size: 30px;
		}
		.mini_filter_w{
			&>div{
				width: 100%;
			}
		}
	}
	.fh_r button{
		margin-left: 0;
	}
	.map{
		display: none;
	}
	.result-row{
		border: 0;
		padding-top: 0;
		& > div{
			border-left: 1px solid rgba(0, 0, 0, 0.15);
			border-right: 1px solid rgba(0, 0, 0, 0.15);
			&:first-child{
				border-top: 1px solid rgba(0, 0, 0, 0.15);
			}
		}
		.img{
			flex: 0 0 75px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;
		}
		.name-w{
			padding-right: 15px;
			padding-bottom: 20px;
		}
		.name{
			font-size: 18px;
			margin-bottom: 15px;
		}
		.description{
			font-size: 12px;
			p{
				margin-bottom: 0;
				display: inline;
			}
		}
		.price_block{
			flex-direction: row;
			justify-content: space-between;
			padding-right: 0;
			align-items: center;
			.price{
				padding-left: 20px;
				font-size: 18px;
				margin-bottom: 0;
			}
		}
		.btn-classic{
			height: 50px;
		}
		&.footer-row .minirow-w{
			border-top: 1px solid rgba(0, 0, 0, 0.15);
			border-bottom: 1px solid rgba(0, 0, 0, 0.15);
			line-height: 1;
		}
	}
	.only-fields + .map_result .row:first-child{
		padding-top: 10px;
	}
	.card-mobile {
		display: flex;
		flex-direction:column
	}

	.card-mobile .left, .card-mobile .right {
		width:50%
	}

	.card-mobile .description p {
		font-size: inherit;
		margin-bottom:0;
		display: inline;
	}
	.card-mobile .name{
		font-family: 'TTFirsNeue-DemiBold', sans-serif;
		text-transform: uppercase;
		padding-top: 10px;
		margin-bottom: 0;
	}
	.card-mobile .td_description{
		font-size: 10px;
		text-transform: uppercase;
	}

	.result-table .card-mobile td {
		border: none;
		padding: 0 10px;
		&.price_block{
			padding-bottom: 10px;
		}
	}
	.result-table .card-mobile.bt td {
		border: 1px solid rgba(#000, .15);
		border-bottom: none;
		padding: 10px;
		&.price_block{
			padding-bottom: 10px;
		}
		.btn-classic{
			height: 42px;
			padding: 0 20px;
			font-size: 14px;
			font-family: "TTFirsNeue-Medium", sans-serif;
		}
		.btn-wt-green{
			height: 42px;
			padding: 0 15px;
			font-size: 14px;
			font-family: "TTFirsNeue-Medium", sans-serif;
			text-transform: uppercase;
		}
	}

	.result-row-2 .price_block .price {
		margin-bottom:0
	}

	.card-title {
		border-bottom: none;
		border-right: none;
		color: rgba(0, 0, 0, .5);
		font-family: TTFirsNeue-Medium, sans-serif;
		font-size: 12px;
		font-style: normal;
		line-height: 1.4;
		text-transform:uppercase
	}

	.result-table thead {
		display:none
	}

	.card-result-row {
		flex-direction:column
	}

	.card-result-row .card {
		border: 1px solid #e6e6e6;
		margin-bottom: -1px;
		width:100%
	}

	.card-result-row .card .img {
		padding:20px
	}

	.card-result-row .card .name-w {
		padding:0 20px
	}

	.card-result-row .card .name-w .name {
		font-size: 16px;
		margin-bottom:10px
	}

	.card-result-row .card .description {
		font-size: 12px;
		line-height:1.4
	}

	.card-result-row .card .description p {
		font-size:inherit
	}

	.card-result-row .card .minirow-w {
		padding:0 20px
	}

	.card-result-row .card .minirow {
		font-size:10px
	}

	.card-result-row .card .minirow .left {
		padding-left: 15px;
		padding-top:15px
	}

	.card-result-row .card .minirow .right {
		padding:15px 15px 10px
	}

	.card-result-row .card .price_block {
		padding:20px
	}

	.card-result-row .card .price_block .price {
		font-size:16px
	}

	.card-result-row .card .btn-w .btn-classic, .card-result-row .card .btn-w .paginator.next_prev li button, .paginator.next_prev li .card-result-row .card .btn-w button {
		font-size: 11px;
		height:40px
	}
	.mr-title{
		.btn-classic{
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	.mr-title .head + .desc{
		font-size: 14px;
	}
}