.promo{
	padding-top: 100px;
	padding-bottom: 75px;
	margin-top: 100px;
	overflow: hidden;
	& + .homeseo{
		margin-top: 60px;
		border-top: 0;
	}
	&.slide1{
		background-color: $red;
		.picture{
			position: relative;
			&:after{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: -190px;
				background: url("../img/promo1.png") 50px center no-repeat;
				background-position-x: left;
				background-size: 1855px 901px;
				width: 1855px;
				height: 901px;

			}

		}
	}
	&.slide2{
		background-color: $green;
		.picture{
			position: relative;
			&:after{
				content: '';
				display: block;
				position: absolute;
				left: 15%;
				top: 50%;
				transform: translateY(-50%);
				background: url("../img/promo2.jpg") 50px center no-repeat;
				background-position-x: left;
				background-size: 715px 520px;
				width: 715px;
				height: 520px;

			}

		}
	}
	&.green{
		background-color: $green;
	}
	ul{
		margin-left: 15px;
		margin-bottom: 35px;
		li{
			color: #FFFFFF;
			list-style: disc;
			margin-bottom: 7px;
		}
	}
	.head{
		font-family: "TTFirsNeue-Medium",sans-serif;
		font-style: normal;
		text-transform: uppercase;
		font-size: 60px;
		line-height: 1.4;
		color: #fff;
		span{
			display: block;
		}
		margin-bottom: 30px;
	}
	.desc{
		color: #ffffff;
		font-size: 18px;
		margin-bottom: 54px;
		line-height: 1.5;
	}
	.hint{
		color: #ffffff;
		font-size: 24px;
		font-family: "TTFirsNeue-Medium",sans-serif;
		font-style: normal;
		text-transform: uppercase;
		margin-top: 30px;
	}
}
.homeseo.saleparts_page{
	overflow: hidden;
	.left{
		.br, .bl{
			border: none;
		}

	}

}
.promo.promo-cutted{
	margin-top: 0;
	padding-left: 60px;
	--widthA: calc(100vw - 1570px);
	width: calc(var(--widthA) / 2 + 1570px / 12 * 8);
	padding-right: calc(var(--widthA) / 2);
	padding-top: 40px;
	&>div{
		position: relative;
	}
	&.slide1 .picture:after{
		transform: rotateY(180deg);
		width: 805px;
		height: 461px;
		background-size: contain;
		left: 440px;
		bottom: -615px;
	}
	.head span{
		display: inline;
	}
}
@media (min-width: 1680px) {
	.promo.promo-cutted.slide1 .picture::after{
		left: 50%;
		width: 835px;
		height: 621px;
	}
	.promo-cutted .head{
		max-width: 530px;
	}
	.promo-cutted .sticker{
		left: 640px;
	}
}
@media (min-width: 1024px) and (max-width: 1399px) {
	.promo{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.promo.slide1 .picture:after{
		left: -247px;
		bottom: -190px;
		background-size: contain;
		width: 1585px;
		height: 771px;
	}
}

@media (min-width: 1400px) and (max-width: 1660px) {
	.promo{
		padding-top: 68px;
		padding-bottom: 49px;
	}
	.promo .head{
		font-size: 52px;
		margin-bottom: 15px;
	}
	.promo.slide1 .picture:after{
		bottom: -160px;
		background-size: contain;
		width: 1855px;
		height: 781px;
	}
	.promo.promo-cutted{
		padding-left: 60px;
		--widthA: calc(100vw - 160px);
		width: calc(var(--widthA) / 12 * 8 + 80px);
		padding-right: 80px;
		padding-top: 40px;
		&.slide1 .picture:after{
			transform: rotateY(180deg);
			width: 805px;
			height: 541px;
			background-size: contain;
			left: 440px;
			bottom: -500px;
		}
		.head span{
			display: inline;
		}
	}
	.homeseo.saleparts_page{
		.left .head{
			font-size: 30px;
			margin-bottom: 25px;
		}
	}
}
.only-mobile{
	display: none !important;
}
.only-desktop{
	display: block !important;
}
@media (max-width: 1023px) {
	.sticker{
		display: none;
	}
	.only-mobile{
		display: block !important;
	}
	.only-desktop{
		display: none !important;
	}
	.promo{
		margin-top: 70px;
		padding-top: 60px;
		padding-bottom: 90px;
		.btn{
			width: 270px;
		}
	}
	.promo .head{
		font-size: 36px;
	}
	.promo .hint{
		font-size: 18px;
	}
	.promo.slide1 .picture:after {
		left: 60px;
		bottom: -182px;
		top: auto;
		background: url(/static/promo1-603b9aed0032ffee3c2b904155d9b0bc.png) 50px center no-repeat;
		background-size: contain;
		width: 845px;
		height: 501px;
	}
	.homeseo.saleparts_page{
		.rightside{
			margin-left: -30px;
			margin-right: -30px;
		}
	}
	.promo.promo-cutted{
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;
		position: relative;
	}
	.promo.promo-cutted.slide1 .picture{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		&>*{
			position: relative;
		}
		&:after{
			transform: none;
			left: 120px;
			bottom: -92px;
			top: auto;
			width: 845px;
			height: 501px;
		}
	}
}