.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1570px;
}

.row-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1570px;
}

@media (min-width: 1440px) {
  .col-0 {
    display: none;
  }

  .col-1 {
    grid-column: span 1;
  }

  .col-2 {
    grid-column: span 2;
  }

  .col-3 {
    grid-column: span 3;
  }

  .col-4 {
    grid-column: span 4;
  }

  .col-5 {
    grid-column: span 5;
  }

  .col-6 {
    grid-column: span 6;
  }

  .col-7 {
    grid-column: span 7;
  }

  .col-8 {
    grid-column: span 8;
  }

  .col-9 {
    grid-column: span 9;
  }

  .col-10 {
    grid-column: span 10;
  }

  .col-11 {
    grid-column: span 11;
  }

  .col-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1400px) and (max-width: 1660px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 100%;
    grid-gap: 0;
    margin: 0 auto;
    width: calc(100% - 60px);
    position: relative;
  }

  .middle-border-12:before, .middle-border-12-light:before {
    left: 33.3333333333%;
  }
  .middle-border-12:after, .middle-border-12-light:after {
    left: calc(66.6666666667% - 1.5px);
  }
}
@media (min-width: 992px) and (max-width: 1439px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 100%;
    grid-gap: 0;
    padding: 0 30px;
    position: relative;
  }

  .m-col-0 {
    display: none;
  }

  .m-col-1 {
    grid-column: span 1;
  }

  .m-col-2 {
    grid-column: span 2;
  }

  .m-col-3 {
    grid-column: span 3;
  }

  .m-col-4 {
    grid-column: span 4;
  }

  .m-col-5 {
    grid-column: span 5;
  }

  .m-col-6 {
    grid-column: span 6;
  }

  .m-col-7 {
    grid-column: span 7;
  }

  .m-col-8 {
    grid-column: span 8;
  }

  .m-col-9 {
    grid-column: span 9;
  }

  .m-col-10 {
    grid-column: span 10;
  }

  .m-col-11 {
    grid-column: span 11;
  }

  .m-col-12 {
    grid-column: span 12;
  }
}
/*media 769-1024*/
@media (min-width: 600px) and (max-width: 1023px) {
  .mobile {
    display: flex !important;
  }

  .desktop {
    display: none !important;
  }

  .s-col-1 {
    grid-column: span 1;
  }

  .s-col-2 {
    grid-column: span 2;
  }

  .s-col-3 {
    grid-column: span 3;
  }

  .s-col-4 {
    grid-column: span 4;
  }

  .s-col-5 {
    grid-column: span 5;
  }

  .s-col-6 {
    grid-column: span 6;
  }

  .s-col-7 {
    grid-column: span 7;
  }

  .s-col-8 {
    grid-column: span 8;
  }

  .s-col-9 {
    grid-column: span 9;
  }

  .s-col-10 {
    grid-column: span 10;
  }

  .s-col-11 {
    grid-column: span 11;
  }

  .s-col-12 {
    grid-column: span 12;
  }

  .s-col-0 {
    display: none;
  }
}
/*media 481-768*/
@media (max-width: 575px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 100%;
    grid-gap: 0;
    padding: 0;
    margin: 0 auto;
    position: relative;
  }

  .mobile {
    display: flex !important;
  }

  .desktop {
    display: none !important;
  }
}
/*media max 480*/
@media (max-width: 1023px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    width: calc(100% - 60px);
    grid-gap: 0;
    margin: 0 30px;
    position: relative;
  }
  .row .row {
    margin: 0;
    width: 100%;
  }

  .xs-col-1 {
    grid-column: span 1;
  }

  .xs-col-2 {
    grid-column: span 2;
  }

  .xs-col-3 {
    grid-column: span 3;
  }

  .xs-col-4 {
    grid-column: span 4;
  }

  .xs-col-5 {
    grid-column: span 5;
  }

  .xs-col-6 {
    grid-column: span 6;
  }

  .xs-col-7 {
    grid-column: span 7;
  }

  .xs-col-8 {
    grid-column: span 8;
  }

  .xs-col-9 {
    grid-column: span 9;
  }

  .xs-col-10 {
    grid-column: span 10;
  }

  .xs-col-11 {
    grid-column: span 11;
  }

  .xs-col-12 {
    grid-column: span 12;
  }

  .xs-col-0 {
    display: none;
  }
}

/*# sourceMappingURL=grid.css.map */
